@import "../../styles/variables.scss";

.analytics {
  .card {
    .cardTitle {
      color: #959ba3;
      font-size: 10px;
      margin-bottom: 0;
    }
  }

  :global {
    .ant-card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 8px;
    }
  }
}
