@import "../../../styles/variables.scss";

.tabs {
  background-color: $main-background-color !important;
  border-bottom: none !important;
  flex: 1;

  :global {
    .ant-tabs-nav {
      padding: 0 2.75rem 0 1.75rem;
      margin-bottom: 0 !important;
    }

    .ant-tabs-tab-active {
      font-weight: 500 !important;
      outline-color: black !important;
    }
    .ant-tabs-tab-btn {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;

      color: rgba(0, 0, 0, 0.88) !important;
    }

    .ant-tabs-content {
      height: 100%;
    }
  }

  .tabItem {
    height: 100%;
    background-color: $main-border-color !important;
  }
}
