$main-active-color: #6e6af0;
$secondary-main-color: #b2bffa;
$main-error-color: #ef887f;
$secondary-error-color: #fbe4e1;
$main-success-color: #60bf9d;
$secondary-success-color: #edfaf6;
$main-text-color: #000000;
$main-label-text-color: #959ba3;
$main-background-color: #ffffff;
$main-border-color: #f7f7f7;
